<div>
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test/motorola/apx" Match="NavLinkMatch.All">
                Motorola APX
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test/motorola/astro25">
                Motorola Astro25 (XTL, XTS, others)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test/motorola/xpr">
                 Motorola XPR (MotoTRBO)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test/motorola/mtr2k">
                Motorola MTR2000
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test/motorola/quantar">
                Motorola Quantar
            </NavLink>
        </div>
    </nav>
</div>

@code {
}
