@page "/test"

<PageTitle>Test Radio</PageTitle>

@using OpenAutoBench_ng.OpenAutoBench


<div>
    <nav class="flex-column">
        <OpenAutoBench_ng.Pages.Tests.TestNav />
    </nav>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        //
    }
}
